<slideshow [height]="height" [imageUrls]="images" [autoPlay]="true" [showArrows]="false" [showDots]="true"
  [dotColor]="color"></slideshow>

<div class="row mt-5">
  <div class="col">
    <h3>You know</h3>
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto
      de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la
      imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos
      especimen.
    </p>
  </div>
  <div class="col">
    <img src="https://picsum.photos/600/400/?random" alt="" class="img-fluid">
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <img src="https://picsum.photos/600/400/?random2" alt="" class="img-fluid">
  </div>
  <div class="col">
    <h3>You know</h3>
    <p>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto
      de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la
      imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos
      especimen. 
    </p>
  </div>
</div>